section.about.logo-gold#about
  .container.about-flex
    .about-food
      h2 Только правильная еда
      img.decoration(src="img/decoration-gold.svg", alt="decoration")
      p Если вы побывали в одном из наших ресторанов, вы видели - и постились - что заставляет наших клиентов возвращаться еще. <br> Прекрасные материалы и свежеиспеченная еда, вкусные лямбда-торты, кексы и кофе для гурманов заставляют нас сопротивляться! <br> Зайдите сегодня и проверьте нас!
      <!--keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes, muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!-->
      img.about-food-cook(src="img/cook.png", alt="cook")
    .about-image
      img(src="img/dish.png", alt="dish")