footer.footer.logo-white
  .container.footer-flex
    .footer-column
      h5 О нас
      img(src="img/decoration-white.svg", alt="decoration",)
      p Lambda настоящая греческая кондитерская, где завтраки со свежими круассанами и дымящиеся чаши кофе
    .footer-column
      h5 Часы работы
      img(src="img/decoration-white.svg", alt="decoration",)
      p Пон-Пят: 7:00-20:00<br>Суб-Вос: 7:00-22:00 
    .footer-column
      h5 Наш адрес
      img(src="img/decoration-white.svg", alt="decoration",)
      p 19-я райская улица города<br>Проспект Месераль 128