main.home.logo-white#home
  .container.home-flex
    .home-title.fadeInUp.wow(data-wow-delay="1s")
      h1 правильные ингредиенты <br> для правильной еды
    .home-decoration.fadeInUp.wow(data-wow-delay="1.5s")
      img(src="img/decoration.svg", alt="decoration")
    .home-buttom
      a.home-buttom-table.fadeInLeftBtn.wow(href="#reservation" alt="Бронирование" data-wow-delay="2s") Заказать стол
      a.home-buttom-menu.fadeInRightBtn.wow(href="#menu" alt="Меню" data-wow-delay="2s") Посмотреть меню