section.ingredient.logo-white#ingredient
  .container.ingredient-flex
    .ingredient-board.fadeInLeft.wow(data-wow-delay=".2s")
      .ingredient-board-info
        h2 Лучшие ингредиенты
        img.decoration(src="img/decoration-white.svg", alt="decoration")
        p Если вы побывали в одном из наших ресторанов, вы видели - и постились - что заставляет наших клиентов возвращаться еще. <br> Прекрасные материалы и свежеиспеченная еда, вкусные лямбда-торты, кексы и кофе для гурманов заставляют нас сопротивляться! <br> Зайдите сегодня и проверьте нас!
      .ingredient-board-image
        img(src="img/ing1.png", alt="ingredient")
        img(src="img/ing2.png", alt="ingredient")
        img(src="img/ing3.png", alt="ingredient")