section.menu.logo-gold#menu
  .container
    .menu-list
      .menu-list-header
        h2 Закуски
        img.decoration(src="img/decoration-gold.svg", alt="decoration")
        .menu-list-header-point
          h3 Чесночные гренки
          h3 $3.99
        p Освежающие традиции огурца и чесночного йогурта.
        .menu-list-header-point
          h3 Асорти из хрустящих брускет
          h3 $5.50
        p Освежающие традиции огурца и чесночного йогурта.
        .menu-list-header-point
          h3 Запечёный залуми
          h3 $5.25
        p Освежающие традиции огурца и чесночного йогурта.
      .menu-list-header
        h2 Салаты
        img.decoration(src="img/decoration-gold.svg", alt="decoration")
        .menu-list-header-point
          h3 Цезарь с курицей
          h3 $3.99
        p Освежающие традиции огурца и чесночного йогурта.
        .menu-list-header-point
          h3 Цезарь с креветками
          h3 $5.50
        p Освежающие традиции огурца и чесночного йогурта.
        .menu-list-header-point
          h3 Греческий
          h3 $5.25
        p Освежающие традиции огурца и чесночного йогурта.
      .menu-list-header
        h2 Десерты
        img.decoration(src="img/decoration-gold.svg", alt="decoration")
        .menu-list-header-point
          h3 Тирамису
          h3 $3.99
        p Освежающие традиции огурца и чесночного йогурта.
        .menu-list-header-point
          h3 Чизкейк
          h3 $5.50
        p Освежающие традиции огурца и чесночного йогурта.
        .menu-list-header-point
          h3 Наполеон
          h3 $5.99
        p Освежающие традиции огурца и чесночного йогурта.
      .menu-list-header
        h2 Основное меню
        img.decoration(src="img/decoration-gold.svg", alt="decoration")
        .menu-list-header-point
          h3 Антрикот из говядины
          h3 $5.99
        p Освежающие традиции огурца и чесночного йогурта.
        .menu-list-header-point
          h3 Ягнёнок с пюре
          h3 $5.50
        p Освежающие традиции огурца и чесночного йогурта.
        .menu-list-header-point
          h3 Циплёнок с паленкой
          h3 $5.25
        p Освежающие традиции огурца и чесночного йогурта.