header.header
  a.header-logo(href="#home")
    img(src="img/logo.svg", alt="")
  .header-icon
    span
    span
    span
    span
  nav.header-bar
    a.header-bar-item(href="#home") Домой
    a.header-bar-item(href="#about") О ресторане
    a.header-bar-item(href="#ingredient") Ингредиенты
    a.header-bar-item(href="#menu") Меню
    a.header-bar-item(href="#review") Отзывы
    a.header-bar-item(href="#reservation") Бронирование