section.review.logo-white#review
  .container.review-flex
    .review-board.fadeInRight.wow(data-wow-delay=".2s")
      .review-board-guest
        h2 Отзывы гостей
        img.decoration(src="img/decoration-white.svg", alt="decoration")
        h4 <strong>&#8220</strong> Если вы побывали в одном из наших ресторанов, вы видели - и постились - что заставляет наших клиентов возвращаться еще. Прекрасные материалы и свежеиспеченная еда, вкусные лямбда-торты, кексы и кофе для гурманов заставляют нас сопротивляться! Зайдите сегодня и проверьте нас!
        p - food inc, NewYork