extends layout/_head
block title
  |Ресторан
block content
  include layout/_nav
  include layout/_home
  include layout/_about
  include layout/_ingredient
  include layout/_menu
  include layout/_review
  include layout/_reservation
  include layout/_footer